@font-face {
    font-family: 'BBQScoutingPass';
    src: url("../fonts/SourceCodePro-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    border-color: orangered;
    font-family: BBQScoutingPass, ui-monospace;
    overflow-x: hidden;
}

#prematch_table, #postmatch_table, #auton_table, #endgame_table, #teleop_table, #testcycle_table {
    text-align: center;
    color: white;
    border-color: orangered;
    border-width: 4px;
    font-size: 13px;
    letter-spacing: 1px;
}

.title {
    text-align: right;
}
.field {
    text-align: left;
}
.field-image {
    margin: 2vw;
}
.field-image-src{
    background-position: center;
    border: 1px solid;
}
.button {
    font-size: 16px;
    background: orangered;
    color: black;
    font-family: BBQScoutingPass, ui-monospace;
}
.match-label{
    text-align: center;
}

.half-button-l{
    width: 48%;
    margin: 1vw;
    height: 100%;
}
.half-button-r{
    flex-grow: 1;
    height: 100%;
    width: 48%;
    margin: 1vw;
}
.half-button-container{
    display: flex;
}
.main-panel{
    display: none;
    height: 100%;
    min-height: 100%;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    background-color: black;
    border-color: orangered;
    text-align: justify;
}

#prematch{
    display: table;
}

#prematchHeader1, #prematchHeader2,
#autonHeader, #endgameHeader, #teleopHeader1, #teleopHeader2, #postmatchHeader {
    color: white;
    border-color: orangered;
    border-width: 4px;
}
#qrHeader1, #qrHeader2 {
    color: black;
}

h1{
    text-align: center;
    border-style: groove;
    border-color: orangered;
    border-width: 2px;
    font-size: 40px;
    padding: 10px;
    font-weight: 350;
}

h2{
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}

#nextButton1, #nextButton2, #nextButton3, #nextButton4, #nextButton5, #nextButton6, #nextButton7, #nextButton8, #nextButton9, #nextButton10,
.clearForm, .submitForm, #displayButton, #copyButton,
.undoButton, .flipButton {
    padding: 10px;
    background-color: orangered;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    font-family: BBQScoutingPass, ui-monospace;
}

#prevButton1, #prevButton2, #prevButton3, #prevButton4, #prevButton5, #prevButton6, #prevButton7, #prevButton8, #prevButton9 {
    background-color: white;
    color: black;
    padding: 10px;
}

table{
    width: 100%;
    margin: auto;
    align-content: center;
    table-layout: fixed;
    border-style: groove;
    border-color: orangered;
    border-width: 1px;
    text-align: center;
}

td {
    padding: 10px 0;
}

tr {
    width: 50px;
    text-align: left;
    vertical-align: middle;
    padding: 10px;
}

input {
    font-family: BBQScoutingPass, ui-monospace;
    font-size: 15px;
    color: orangered;
    background-color: white;
}
input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 9px;
    position: relative;
    background-color: orangered;
    border: 2px solid white;
    display: inline-block;
    visibility: visible;
    content: '';
}
input[type='radio'] {
    width: 20px;
    height: 20px;
    border-radius: 9px;
    position: relative;
    background-color: orangered;
    border: 2px solid white;
    display: inline-block;
    visibility: visible;
    content: '';
}
input[type='checkbox']:checked:after {
    width: 15px;
    height: 15px;
    position: relative;
    border: 2px solid white;
    display: inline-block;
    visibility: visible;
    content: '';
}
input[type='checkbox'] {
    width: 20px;
    height: 20px;
    position: relative;
    border: 2px solid white;
    display: inline-block;
    visibility: visible;
    content: '';
}
#qr-table {
    text-align: center;
    color: black;
    background-color: white;
}
#qr-code{
    text-align: center;
    color: black;
}
